.container{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1024px;
    .search-input{
        padding: 1rem;
        font-size: 1rem;
        border-radius: 5px;
        border: 1px solid #ccc;
        width: 100%;
        align-self: center;
        @media screen and (min-width: 1024px){
            width: 50%;
        }
    }
}